<div class="container">
  <%= image_tag 'blue.jpg' %>

  <div class="message">
    <ul class="row">
      <li class="col-md-12">アフリカ好きが繋がるための場所です。</li>
      <li class="col-md-12">アフリカに行ったことがある人、これから渡航予定の人</li>
      <li class="col-md-12">ここで情報交換しましょう！</li>
    </ul>
  </div>

  <div class="contents">
    <ul class="row">
      <li class="col-sm-6 col-md-3">contents</li>
      <li class="col-sm-6 col-md-3">contents</li>
      <li class="col-sm-6 col-md-3">contents</li>
    </ul>
  </div>
</div>
